* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    
}

.body {
    display: grid;
    grid-template-areas: 
    'header header header header'
		'sidebar main main main'
		'footer footer footer footer';
        background-color: rgb(192, 183, 183);
        grid-template-rows: 300px 1frpx 100px;
        grid-template-columns: 150px 1fr;
     min-height: 100vh;


}

.header {
grid-area: header;
} 

.navbar {
    background-color: rgb(197, 26, 197);
    color: aliceblue;
    padding: 20px;
}

.navbar_tittle {
    display: flex;
    justify-content: center;
}

.sidebar {
grid-area: sidebar;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 10px;
}

.container {
display: flex;
flex-direction: column;
gap: 20px;
}

.categories {
 gap: 15px;
 font-size: large;  
}

.category_items {
padding: 20px;
 color: #2b2828;
  font-size: medium;  
}

.category {
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category_items span {
 color: #555;
}

.main {
    grid-area: main;
    padding: 20px;
    display: grid;
    gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 500px;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: aliceblue;
    object-fit: cover;
    box-sizing: border-box;
}

.card_img{
height: 51%;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.card_text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 52px;
      color: #555;
}

h3 span {
  color: #555;
  font-family: 'Georgia', serif;
}

.card_btn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.btn {
   width: 350px;
  padding: 20px;
  background-color: rgb(197, 26, 197);
  color: aliceblue; 
   border: none;
  outline: none;
   cursor: pointer; 
     font-family: 'Georgia', serif;
font-size: medium;
margin-top: 40px;
}

.footer {
grid-area: footer;
background-color: aliceblue;
padding: 10px;
  color: #555;

}

.footer_text {
    text-align: center;
    line-height: 1.8;
}